@tailwind base;
@tailwind components;
@tailwind utilities;

.api {
  --primary: var(--api-color);
}

.transcript-seeker {
  /* todo: fix primary not appied */
  --primary: var(--transcript-seeker-color);
}

.speaking-bots {
  --primary: var(--speaking-bots-color);
}

:root {
  --api-color: 220deg 91% 54%;
  --speaking-bots-color: 250 80% 54%;
}

.dark {
  --api-color: 217deg 92% 76%;
  --speaking-bots-color: 250 100% 80%;
}
