@import 'tailwindcss' source(none);
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-twoslash/twoslash.css';

@source ".";
@source "../components";
@source "../content";
@source "../app";
@source '../node_modules/fumadocs-ui/dist/**/*.js';
@source '../node_modules/fumadocs-openapi/dist/**/*.js';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }

    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gradient-radial: radial-gradient(circle, var(--tw-gradient-stops));
  --color-repeat-gradient-to-r: repeating-linear-gradient(
    to right,
    var(--tw-gradient-stops)
  );
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}

@theme {
  --color-background: var(--color-fd-background);
  --color-foreground: var(--color-fd-foreground);

  --color-card: var(--color-fd-card);
  --color-card-foreground: var(--color-fd-card-foreground);

  --color-popover: var(--color-fd-popover);
  --color-popover-foreground: var(--color-fd-popover-foreground);

  --color-primary: var(--color-fd-primary);
  --color-primary-foreground: var(--color-fd-primary-foreground);

  --color-secondary: var(--color-fd-secondary);
  --color-secondary-foreground: var(--color-fd-secondary-foreground);

  --color-muted: var(--color-fd-muted);
  --color-muted-foreground: var(--color-fd-muted-foreground);

  --color-accent: var(--color-fd-accent);
  --color-accent-foreground: var(--color-fd-accent-foreground);

  --color-destructive: var(--color-fd-destructive);
  --color-destructive-foreground: var(--color-fd-destructive-foreground);

  --color-border: var(--color-fd-border);
  --color-input: var(--color-fd-input);
  --color-ring: var(--color-fd-ring);
}

@layer base {
  :root {
    --color-fd-primary: hsl(176 100% 43%) !important;
    --color-fd-foreground: hsl(240, 6%, 25%) !important;

    --api-color: hsl(176 100% 43%);
    --transcript-seeker-color: hsl(220deg 91% 54%);
    --speaking-bots-color: hsl(250 80% 54%);
  }

  .dark {
    --color-fd-background: hsl(0, 0%, 17%) !important;
    --color-fd-foreground: hsl(0, 0%, 100%) !important;
    --color-fd-card: hsl(0, 0%, 17%) !important;
    --color-fd-card-foreground: hsl(0, 0%, 100%) !important;
    --color-fd-popover: hsl(0, 0%, 17%) !important;
    --color-fd-popover-foreground: hsl(0, 0%, 100%) !important;
    --color-fd-primary-foreground: hsl(213, 16%, 27%) !important;
    --color-fd-secondary-foreground: hsl(0, 0%, 100%) !important;
    --color-fd-muted: hsl(173 8% 22%) !important;
    --color-fd-muted-foreground: hsl(0 0% 65%) !important;
    --color-fd-border: hsl(173 8% 22%) !important;
    --color-fd-accent: hsl(173 8% 22%) !important;
    --color-fd-accent-foreground: hsl(0 0% 100%) !important;
    --color-fd-ring: hsl(197 100% 44%) !important;

    --api-color: hsl(176 100% 43%);
    --transcript-seeker-color: hsl(217deg 92% 76%);
    --speaking-bots-color: hsl(250 100% 80%);
  }
}

@layer base {
  body {
    overscroll-behavior-y: none;
    background-color: var(--color-fd-background);
  }

  .api {
    --color-fd-primary: var(--api-color) !important;
  }

  .transcript-seeker {
    --color-fd-primary: var(--transcript-seeker-color) !important;
  }

  .speaking-bots {
    --color-fd-primary: var(--speaking-bots-color) !important;
  }
}

@layer base {
  [data-theme-toggle] {
    @apply !hidden;
  }
}
